{{#if details}}
  <div class="container">
    {{#each logs as |log|}}
      <div class="log-row">
        <div
          class="d-flex align-items-center justify-content-end copy-btn-container"
        >
          <button
            class="btn copy-btn p-action"
            {{action "copyData"}}
            title="Copy Information to Clipboard"
          >
            {{fa-icon icon="clipboard" fixedWidth=true}}
          </button>
          <div
            class="copy-success-message
              {{if showCopyMessage 'visible' 'hidden'}}"
          >
            {{fa-icon icon="check" fixedWidth=true class="copy-success-icon"}}
            Copied Raw Log.
          </div>
        </div>
        <h1 class="attributes-title p-title">
          {{fa-icon icon="info" fixedWidth=true}}
          Attributes
        </h1>
        {{#each-in log as |type value|}}
          {{#if (not (eq type "rawLogs"))}}
            <div class="log-container">
              <div class="log-tags">
                <span class="type-tag">{{type}}:</span>
                <span class="type-value">{{value}}</span>
              </div>
            </div>
          {{/if}}
        {{/each-in}}
        <h1 class="raw-log-title p-title">
          {{fa-icon icon="eye" fixedWidth=true}}
          Raw Logs
        </h1>
        {{#each-in log as |key value|}}
          {{#if (eq key "rawLogs")}}
            {{#each value as |rawLog|}}
              <div class="raw-log">
                <div
                  style="word-break: break-all; padding: 10px;"
                  id={{concat "raw-log-content-" uniqueIdPrefix}}
                >
                  {{rawLog}}
                </div>
              </div>
            {{/each}}
          {{/if}}
        {{/each-in}}
      </div>
    {{/each}}
  </div>
{{/if}}