{{#if details}}
  <div class="container">
    {{#each logs as |log index|}}
      <div class="log-row">
        {{#if block.userOptions.getRawLogs}}
          <div class="d-flex align-items-center justify-content-end copy-btn-container">
            <button
              class="btn copy-btn p-action"
              {{action "copyData"}}
              title="Copy Information to Clipboard"
            >
              {{fa-icon icon="clipboard" fixedWidth=true}}
            </button>
            <div class="copy-success-message {{if showCopyMessage 'visible' 'hidden'}}">
              {{fa-icon icon="check" fixedWidth=true class="copy-success-icon"}}
              Copied Raw Log.
            </div>
          </div>
        {{/if}}

        <h1 class="attributes-title p-title">
          {{fa-icon icon="info" fixedWidth=true}}
          Attributes
        </h1>

        {{#each-in log as |type value|}}
          {{#if (not (eq type "rawLogs"))}}
            <div>
              <span class="p-key">{{capitalize type}}:</span>
              <span class="p-value">{{value}}</span>
            </div>
          {{/if}}
        {{/each-in}}

        {{#if block.userOptions.getRawLogs}}
          {{#each-in log as |key value|}}
            {{#if (eq key "rawLogs")}}
              {{#each value as |rawLog|}}

                {{#if (get expandableTitleStates index)}}
                  <a
                    href="#"
                    class="expandable-title"
                    {{on "click" (action "toggleExpandableTitle" index)}}
                  >
                    View Raw Logs
                    <span class="text">
                      {{fa-icon "laptop" fixedWidth=true}}
                      {{subsystem.displayName}}
                    </span>
                    {{fa-icon "angle-up"}}
                  </a>
                  {{! <div class="raw-log"> }}
                  <div
                    style="word-break: break-all; padding: 10px;"
                    id={{concat "raw-log-content-" uniqueIdPrefix}}
                  >
                    {{rawLog}}
                  </div>
                  {{! </div> }}
                {{else}}
                  <a
                    href="#"
                    class="expandable-title"
                    {{on "click" (action "toggleExpandableTitle" index)}}
                  >
                    View Raw Logs
                    <span class="text">
                      {{fa-icon "laptop" fixedWidth=true}}
                      {{subsystem.displayName}}
                    </span>{{fa-icon "angle-down"}}
                  </a>
                {{/if}}
              {{/each}}
            {{/if}}
          {{/each-in}}
        {{/if}}
      </div>
    {{/each}}

    {{#if (eq logs.length 10)}}
      <div class="mt-1">
        <span class="p-footnote">There are more results than what is being displayed.
          <a class="p-link" href="https://www.exabeam.com/">
            Navigate to Exebeam
          </a>
        </span>
      </div>
    {{/if}}
  </div>
{{/if}}